:root {
  --primary-color: #eeeeee;
  --point-color: #ffc2c2;
  --heart-color: #ff0404;
  --side-margin: 8rem;
  font-size: 16px;
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  background-color: #ffffff;
  font-family: sans-serif;
}

/* header */
header .header-container {
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem var(--side-margin);
}

header .header-container #logo {
  /* width: 4rem; */
  height: 3rem;
}

header .header-container #logo img {
  height: 100%;
}

header .header-container .search-container {
  position: relative;
  width: 50%;
  height: 3rem;
}

header .header-container .search-container #search-bar {
  width: 100%;
  height: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
}

header .header-container .search-container #search-btn {
  position: absolute;
  right: 1rem;
  height: 3rem;
  width: 3rem;
  cursor: pointer;
}

header .header-container .like-btn {
  height: 3rem;
  width: 3rem;
}

/* main */

main #search-keyword-line {
  margin-top: 3rem;
  margin-left: var(--side-margin);
}

main .list-container {
  border: 1px solid orangered;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  margin: 1.5rem var(--side-margin) 0 var(--side-margin);
}

main ul {
  border: 1px solid orangered;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

/* main ul li {
  padding: 4rem;
} */

.book-container {
  border: 1px solid green;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  /* height: 14rem; */
  padding: 1rem;
}

.book-container .book-cover {
  /* height: 100%; */
  width: 100%;
  /* border-radius: 1rem; */
}

.book-container .book-container-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.book-container p {
  margin-top: 0.5rem;
}

.book-container .book-name {
  margin-top: 1rem;
  font-size: 14px;
}

.book-container .book-price {
  font-weight: bold;
}

.book-container .book-publisher {
  font-size: 12px;
}

.book-container .like-btn {
  height: 1.5rem;
  width: 1.5rem;
}

/* footer(pagination) */

footer {
  border: solid 1px purple;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 3rem;
}
